process {
    publishDir = {"./results_disconnectoflow/$sid/$task.process"}
    scratch = true
    errorStrategy = { task.attempt <= 1 ? 'retry' : 'ignore' }
    maxRetries = 3
    maxErrors = -1
    stageInMode = 'copy'
    stageOutMode = 'rsync'
    tag = { "$sid" }
    afterScript = 'sleep 1'
}

params {
  root = false
  tractograms = false
  atlases = false
  in_tractograms = false
  help = false

  lesion_name="cavity"

  //**Registration**//
    run_bet=false
    registration_script="antsRegistrationSyNQuick.sh"
    registration_strategy="s"
    slow_registration=false
    linear_registration = false

  //**Template T1 path**//
    template_t1="/human-data/mni_152_sym_09c/t1"

    nbr_subjects_for_avg_connections=50

  //**Decompose options**//
      no_pruning=false
      no_remove_loops=false
      no_remove_outliers=false
      min_length=20
      max_length=200
      loop_max_angle=330
      outlier_threshold=0.5

  //**Output directory**//
      output_dir="./results_disconnectoflow"

  //**Number of processes per tasks**//
      processes_register=4
      processes_connectivity=4
      decompose_memory_limit='6.GB'
      commit_memory_limit='6.GB'
      processes_bet_register_t1=4
      processes_apply_registration=4

  Readme_Publish_Dir = "./results_disconnectoflow/Readme"
}

if(params.linear_registration)
{
  params.registration_strategy="a"
}

if(params.slow_registration)
{
  params.registration_script="antsRegistrationSyN.sh"
}

singularity {
    autoMounts = true
}
