process {
    publishDir = {"./results/$sid/$task.process"}
    scratch = true
    errorStrategy = { task.attempt <= 1 ? 'retry' : 'ignore' }
    maxRetries = 3
    maxErrors = -1
    stageInMode = 'copy'
    stageOutMode = 'rsync'
    tag = { "$sid" }
    afterScript = 'sleep 1'
}

params {
  //**Loop**//
  angle=360

  //**Sides**//
  indices_cc="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17"
  indices_cs="1,2,3,4,5,6,7,8,9,10,12,13,14,16,17"
  indices_ct="1,2,3,4,5,6,7,8,9,10,11,13,15,16"
  sides="L,R"
  minL=60
  newSubject=true
  tractogramAtlas=false

  //**Output directory**//
  output_dir=false
}

if(params.output_dir) {
    process.publishDir = {"$params.output_dir/$sid/$task.process"}
    params.Readme_Publish_Dir = "${params.output_dir}/Readme"
    params.FilterCorticoCortical_Publish_Dir = "${params.output_dir}/Filters/filterCorticoCortical"
    params.FilterCorticoStriatal_Publish_Dir = "${params.output_dir}/Filters/filterCorticoStriatal"
    params.FilterCorticoThalamic_Publish_Dir = "${params.output_dir}/Filters/filterCorticoThalamic"
}

singularity {
    autoMounts = true
}
